*.3dmap filter=lfs diff=lfs merge=lfs -text
*.ampx filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.cov filter=lfs diff=lfs merge=lfs -text
*.cub filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.DAT filter=lfs diff=lfs merge=lfs -text
*.dff filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.dso filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.eps filter=lfs diff=lfs merge=lfs -text
*.ezdraw filter=lfs diff=lfs merge=lfs -text
*.gdml filter=lfs diff=lfs merge=lfs -text
*.gip filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.h5m filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.kmt filter=lfs diff=lfs merge=lfs -text
*.macroLib filter=lfs diff=lfs merge=lfs -text
*.mim filter=lfs diff=lfs merge=lfs -text
*.msl filter=lfs diff=lfs merge=lfs -text
*.msm filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.plt filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.qch filter=lfs diff=lfs merge=lfs -text
*.sat filter=lfs diff=lfs merge=lfs -text
*.sdf filter=lfs diff=lfs merge=lfs -text
*.sh5 filter=lfs diff=lfs merge=lfs -text
*.stdcmp filter=lfs diff=lfs merge=lfs -text
*.xsdrnWeightedLib filter=lfs diff=lfs merge=lfs -text
*.x16 filter=lfs diff=lfs merge=lfs -text
*[fF]t71 filter=lfs diff=lfs merge=lfs -text
*[Ll]ib filter=lfs diff=lfs merge=lfs -text
*ft??f* filter=lfs diff=lfs merge=lfs -text
*.f71 filter=lfs diff=lfs merge=lfs -text
*.s filter=lfs diff=lfs merge=lfs -text
