auto/
raw/
.vscode/
cookbook.bcf
cookbook.glsdefs
cookbook.run.xml
cookbook.aux
cookbook.bbl
cookbook.blg
cookbook.fdb_latexmk
cookbook.fls
cookbook.glg
cookbook.glo
cookbook.gls
cookbook.ist
cookbook.lof
cookbook.log
cookbook.lot
cookbook.out
cookbook.pdf
cookbook.synctex.gz
cookbook.toc
cookbook.acn
cookbook.acr
cookbook.alg
cookbook.lol
cookbook.idx
cookbook.ilg
cookbook.ind
comment.cut
_minted-report
original
